/*GLOBAL STYLES*/
body {
    background-color: #f6f5f5;
    color: #555555;
}

section {
  padding:15px 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

img {
    width: 100%;
}

p {
    font-size: 18px;
}

.btn-info {
    background-color: #079AB1;
}

ul {
    list-style: none;
    text-align: center;
    padding: 5px 0 5px 0;
}

a.basic-link:link, a.basic-link:visited {
    color: #726816;
    transition: ease-in 0.1s;
}

a.basic-link:hover, a.basic-link:active {
    display: inline-block;
    color: #dbcf67;
    text-decoration: none;
    transform: translate(2px);
}



/*NAVIGATION*/

.navbar {
	background: #650934;
}

.navbar-brand {
    color: white;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}


/*I had to search for solution to change colour of toggler. Solution was found on codepen*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbarNav .nav-link {
	color: white;
	margin: 7px;
}

#navbarNav .nav-item:hover {
    background-color:#9b0d4f;
}

#navbarNav .active, #navbarNav .active:hover  {
    background-color: #1D8798;
}


@media (min-width: 992px) {
    .navbar {
        padding:0 15px 0 15px;
    }
    
    .navbar-nav {
        padding: 0;
    }
}



/*INDEX*/

/*hero*/
#hero {
    background-color: #650934;
}

@media (min-width: 576px) {
    #hero img {
        width: 50%;
    }
}


@media (min-width: 768px) {
    #hero {
        padding-bottom: 30px;
    }
}


@media (min-width: 992px) {
    #hero {
        padding-top: 40px;
    }
}


/*contact-section*/
.contact-section {
    position: relative;
    background-color:white;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(78,78,78,1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(78,78,78,1);
    box-shadow: 0px 2px 10px 0px rgba(78,78,78,1);
    z-index: 1;
}

@media (min-width: 576px) {
    .contact-section p {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 0.93em;
    }
}


@media (min-width: 992px) {
    .contact-section p  {
        margin-top: 5px;
        font-size: 1.2em;
    }
}



/*welcome*/
#welcome {
    background-color: #1D8798;
    color: white;
}

#welcome p {
    font-size: 1.3em;
}

@media (min-width: 576px) {
    .centered-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (min-width: 768px) {
    #welcome {
        padding-top: 40px;
    }
    
    #welcome .centered-list {
        font-size: 1.3em;
    }
    
    #welcome img {
        width: 80%;
    }
    
    #welcome p:first-child {
        padding-bottom: 20px;
    }
    
    #welcome p:last-child {
        padding-top: 20px;
    }
}



/*page-intros*/
#page-intros {
    margin-top: 30px;
}

#page-intros .page-intro {
    margin-bottom: 15px;
}


.page-intro {
    background-color: white;
    background: linear-gradient(white, #f6f5f5);
    padding: 15px 10px;
    -webkit-box-shadow: 7px 9px 17px -6px rgba(0,0,0,0.43);
    -moz-box-shadow: 7px 9px 17px -6px rgba(0,0,0,0.43);
    box-shadow: 7px 9px 17px -6px rgba(0,0,0,0.43);
}


@media (min-width: 576px) {
    #page-intros .page-intro h2{
        font-size: 1.5em;
    }
    
    #advice, #pastoral {
        min-height: 300px;
    }
}


@media (min-width: 768px) {
    #advice, #pastoral {
        min-height: 250px;
    }
    
    #page-intros .page-intro h2{
        font-size: 2em;
    }
}


@media (min-width: 992px) {
    #page-intros .page-intro h2 {
        font-size: 2.5em;
    }
}



/*How to find us*/
.find-us {
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    background: linear-gradient(white, #f6f5f5);
    border: solid 4px #650934;
    border-radius: 5px;
}

.find-us iframe {
    margin-top: 30px;
}

.address {
    display: flex;
    align-items: center;
    font-size: 2em;
}




/*ABOUT US*/

#about img {
    
}

#staff .col-12 {
    margin: 20px 0;
}

.staff-member {
    background: linear-gradient(#1b6470, #12454d);
    padding: 20px 0;
    color: white;
}

.staff-member img {
    width: 45%;
    margin-bottom: 10px;
    -webkit-box-shadow: 7px 9px 17px -6px rgba(0,0,0,0.43);
    -moz-box-shadow: 7px 9px 17px -6px rgba(0,0,0,0.43);
    box-shadow: 7px 9px 17px -6px rgba(0,0,0,0.43);
}

#famous-faces img {
    padding: 20px 0;
}

.modal-body p {
    font-size: 16px;
}

.modal-body img {
    margin: 5px 0 20px 0;
}

.modal-body h4 {
    margin-top: 50px;
}


@media (min-width: 576px) {
    .staff-member img {
    width: 35%;
    }
}


@media (min-width: 768px) {
    .staff-member img {
    width: 45%;
    }
}

@media (min-width: 992px) {
    #famous-faces img {
        width: 60%;
    }
}



/*PROGRAMMES*/
#container {
    max-height: 100vh;
}

.programmes {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    min-height: calc(100vh - 130px)
}


.programmes h1 {
    font-size: 2.8em;
}

.programmes .page-intro {
    margin-right: 0;
}

.programmes .col-lg-4 {
    padding-left:0;
    padding-right: 0;
}

.programmes .container .col-lg-8 {
        margin-top: 50px;
        margin-bottom: 40px;
    }

.link {
    background: linear-gradient(#800d42, #650934);
    background-color: #650934;
    min-height: 120px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.link a:link, .link a:visited {
    color: white;
    transition: ease 0.1s;
}

.link a:hover, .link a:active {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 17px rgba(255,255,255,0.4); 
    transform: translate(2px, 2px);
    transition: ease 0.1s;
}

.programme-link-active {
    background: linear-gradient(#a61156, #890945);
    text-shadow: 0px 0px 17px rgba(255,255,255,0.4); 
}

.programmes-btn {
    width: 100%;
    height: 50px;
    background: linear-gradient(#079AB1, #1D8798);
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.9);
}


@media (min-width: 576px) {
    .link {
        border-radius: 5px;
    }
}

@media (min-width: 768px) {
    .link {
        display: block;
        text-align: left;
        padding: 10px 15px;
    }
    
    .link .col-3 {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .programmes .container {
        margin-top: 50px;
    }
    
    .programmes .container .col-lg-8 {
        margin-top: 50px;
        padding: 0 50px;
    }
    
    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: sticky;
        
    }
    
    #link-1 {
        top: 70px;
    }
    
    #link-2 {
        top: 203px;
    }
    
    #link-3 {
        top: 333px;
    }
    
    #link-4 {
        top: 466px;
    }
}

/*education&training*/
@media (min-width: 992px) {
    .programme-section .container .col-lg-8 {
        margin-top: 0px;
    }


/*PASTORAL CARE*/
.article-img {
    margin: 30px 0;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 10px -1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 10px -1px rgba(0,0,0,1);
    box-shadow: 2px 2px 10px -1px rgba(0,0,0,1);
}

.support-worker {
    margin-bottom: 20px;
}


@media (min-width: 576px) {
    .article-img {
    width: 90%;
    }
}


@media (min-width: 768px) {
    .article-img {
    width: 80%;
    }
}


@media (min-width: 992px) {
    .article-img {
    width: 70%;
    }
}



/*ADVICE SERVICES*/
#advice-list {
    margin-top: 40px;
    font-size: 1.2em;
}



/*ROOM HIRE*/
#rooms {
    background: url("images/rooms/room_hire_bg.jpg") center center fixed repeat;
}


.room {
    background-color: white;
    padding: 15px 10px;
    margin: 40px 0;
}

.room h3 {
    margin-bottom: 0;
}

.room img {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
}

.hourly{
    background-color: #99914b;
}

.daily{
    background-color: #03434d;
}

.hourly, .daily {
    color: white;
    font-size: 1.2em;
    display: inline-block;
    min-width: 250px;
    padding: 20px 20px;
}

.custom-table {
    background-color: white;
    padding: 20px;
    border: solid 4px #650934;
    border-radius: 5px;
}

.room, .hourly, .daily {
    border-radius: 5px;
}

#equipment {
    margin-top: 20px;
}


@media (min-width: 576px) {
    .room img {
        width: auto;
    }
}


@media (min-width: 768px) {
    .room img {
        width: 100%;
    }
    
    #equipment {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .room img {
        width: auto;
    }
}


/*CONTACT*/


#contact-info .col-12 {
    margin-top: 50px;
}

#contact-map .find-us {
    margin-top: 0px;
}


@media (max-width: 350px) {
    .hide {
        display: none;
    }
}


@media (max-width: 576px) {
    #contact-info .custom-table {
        padding: 20px 0;
    }
}